* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #2b4162;
    background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

/* Class & ID formatting */

.container {
    height: 90%;
    width: 90%;
    margin: 5%;
}

.inputValue {
    color: rgba(216, 17, 89, 0.9);
}

#calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60%;
    width: 70%;
    margin: 15% 15%;
    border: solid 3px rgba(255, 188, 66, 0.6);
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
     rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07)
      0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

#screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 10%;
    border: solid 2px rgba(255, 188, 66, 0.6);
    border-radius: 15px;
    margin: 2% 5% 0 5%;
}

#calculation {
    font-size: 1.1rem;
    color: rgba(216, 17, 89, 0.9);
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    height: 70%;
    width: 90%;
    margin: 15% 5% 0 5%;
}

#buttons button {
    color: rgba(216, 17, 89, 0.4);
    width: 23%;
    height: 10%;
    margin: 1%;
    border-radius: 25px;
    background-color: transparent;
    border: solid 1px rgba(4, 150, 255, 0.4);
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

#buttons button:hover {
    background-color: rgba(4, 150, 255, 0.3);
    color: rgba(216, 17, 89, 0.8);
}

/* (252,246,189 */
#buttons #operator {
    color: rgba(4, 150, 255, 0.4);
    background-color: rgba(255, 188, 66, 0.3);
    border: solid 1px rgba(255, 188, 66, 0.6);
}

#buttons #operator:hover {
    background-color: rgba(255, 188, 66, 0.6);
}

#buttons button:last-child {
    flex-grow: 1;
}

@media screen and (min-width: 400px) {
    #buttons button {
        width: 23%;
        height: 15%;
        margin: 1%;
    }
    #screen {
        width: 90%;
        height: 20%;
        border: solid 2px rgba(255, 188, 66, 0.6);
        margin: 5% 5% 0 5%;
    }
    #buttons {
        display: flex;
        flex-wrap: wrap;
        height: 70%;
        width: 90%;
        margin: 8% 5% 0 5%;
    }
}

@media screen and (min-width: 550px) {
    #calculator {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 60%;
        width: 50%;
        margin: 15% 25%;
        border: solid 3px rgba(255, 188, 66, 0.6);
    }
}

@media screen and (min-width: 700px) {
    #calculator {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 70%;
        width: 35%;
        margin: 10% 32.5%;
        border: solid 3px rgba(255, 188, 66, 0.6);
    }
    #buttons button {
        font-size: 1.2rem;
    }
}
